<!-- INCLUDE simple_header.html -->

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div class="content">

		<div style="text-align:right;">
			<br /> 
			<br />
			<font size="5">
				<b>{BW_SAVE}</b>
			</font>
			<br />
			<br />
		</div>

		<p class="small"><a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a></p>
	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

Powered by <a href="http://twcmail.de/">TWCmail</a> | <a href="http://twcportal.de/">TWCportal</a> 

<!-- INCLUDE simple_footer.html -->