<!-- INCLUDE simple_header.html -->

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div class="content">

		<div style="text-align:center;">
			<br /> 
			<a href="{L_EINS}">
			<img src="images/bw_mod/wert1.png" alt="1" /></a>
			<br /> 
			<a href="{L_ZWEI}">
			<img src="images/bw_mod/wert2.png" alt="2" /></a>
			<br /> 
			<a href="{L_DREI}">
			<img src="images/bw_mod/wert3.png" alt="3" /></a>
			<br /> 
			<a href="{L_VIER}">
			<img src="images/bw_mod/wert4.png" alt="4" /></a>
			<br /> 
			<a href="{L_FUENF}">
			<img src="images/bw_mod/wert5.png" alt="5" /></a>
			<br />
		</div>

		<p class="small"><a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a></p>
	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

Powered by <a href="http://twcmail.de/">TWCmail</a> | <a href="http://twcportal.de/">TWCportal</a> 

<!-- INCLUDE simple_footer.html -->