<!-- INCLUDE simple_header.html -->

<SCRIPT language="JavaScript">
<!--
// Fenster schliessen
function ende() {
self.close()
}
window.setTimeout("ende()",5000);
//-->
</SCRIPT>

<div class="panel">
	<div class="inner"><span class="corners-top"><span></span></span>
	<div class="content">

			<br />
			<br />
				<font size="5">
					<b>{BW_SAVE}</b>
				</font>
			<br />
			<br />

		<p class="small"><a href="#" onclick="window.close(); return false;">{L_CLOSE_WINDOW}</a></p>
	</div>
	<span class="corners-bottom"><span></span></span></div>
</div>

Powered by <a href="http://twcmail.de/">TWCmail</a> | <a href="http://twcportal.de/">TWCportal</a> 

<!-- INCLUDE simple_footer.html -->